<launch>
    <arg name="id" default="0" />
    <node pkg="joy" type="joy_node" name="joy" output="screen">
        <param name="dev" value="/dev/input/js0"/>
        <param name="deadzone" value="0.001"/>
    </node>
    <!-- <node pkg="espcopter" type="teleop.py" name="teleop" output="screen"/> -->
    <node pkg="espcopter" type="teleop_acrorate.py" name="teleop" output="screen"/>
</launch>
